

body {
    background: url(./images/bg.png);
   
    background-size: 100%;
    padding: 50px;
}

.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
     margin: 30px;
} 
.alert {
    text-align: center;
    font-size: 1.5rem;
}
.input-group input {
    font-size: 1.2rem;
}
.img{
    border-radius: 20px;
    box-shadow: 10px ;
    margin-left: 60px;
  
    margin-bottom: 10px;
    width: 300px;
    height: 300px;
    font-family: "Oswald", serif;
}
.btn{
    height: 50px;
    width: 90px;
    background-color: lightsteelblue;
    border-radius: 20px;
    font-family: "Oswald", serif;

}
.btn:hover{
   
    background: rgb(55, 66, 82);
}
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

li{
    
    font-family: "Oswald", serif;
   
}
h3{
    font-family: "Oswald", serif;
    font-size: 35px;
}
    

/* body {
    background-color:white;
    background: url(./mainpics/download.png);
    background-size: 100%;
    padding: 50px;
}
.carousel-item img {
     border-radius: 10px; 
}
.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-right: 50px;
} 
.alert {
    text-align: center;
    font-size: 1.5rem;
}
.input-group input {
    font-size: 1.2rem;
}
.img{
    border-radius: 20px;
margin-left: 60px; 
    box-shadow: 10px white;
}


   */